.about-header{
    text-align: center;
    margin-top: 3%;
    font-size: larger;
}

.about-header h1{
    font-size: 50px;
    font-weight: 900;
}

.about-con{
    margin: 3% 15%;
    background-color: white;
    padding: 5%;
}

.about-con p{
    line-height: 30px;
    padding: 1% 0;
}